<h2>Ask a Question!</h2>

<form>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="new-post-field">Ask Question Here:</label>
      </div>
      <div class="col-xs-6">
        {{input class="new-post-field" value=asked id="asked"}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="new-post-field">Username:</label>
      </div>
      <div class="col-xs-6">
        {{input class="new-post-field" value=author id="author"}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="new-post-field">Avatar URL:</label>
      </div>
      <div class="col-xs-6">
        {{input class="new-post-field" value=avatar id="avatar"}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="new-post-field">Additional Notes:</label>
      </div>
      <div class="col-xs-6">
        {{textarea class="new-post-body" value=body id="body"}}
      </div>
    </div>
  </div>

  <button class="post-button" {{action 'saveQuestion'}}>Ask Question</button>
</form>
