<div class="new-post-box">
  <h2>Add a New Answer Here</h2>
  <hr>
  <form>
    <div class="row avatar-choice-box">
      <h3>Choose one of our default avatars!</h3>
      <div class="col-xs-3">
        <img src="https://67.media.tumblr.com/36f3f6b6b1699e13bb63c042a53b6fff/tumblr_moa11zV41c1ru83xzo1_500.png" {{action 'pickSquare'}} class="avatar-choice" id="pickSquare">
      </div>
      <div class="col-xs-3">
        <img src="https://66.media.tumblr.com/9f9b498bf798ef43dddeaa78cec7b027/tumblr_o51oavbMDx1ugpbmuo7_500.png" {{action 'pickDiamond'}} class="avatar-choice" id="pickDiamond">
      </div>
      <div class="col-xs-3">
        <img src="http://67.media.tumblr.com/75bad14fee104f69652084d545213291/tumblr_mldfty8fh41qcnibxo5_540.png" {{action 'pickPyramid'}} class="avatar-choice" id="pickPyramid">
      </div>
      <div class="col-xs-3">
        <img src="https://66.media.tumblr.com/7d65a925636d6e3df94e2ebe30667c29/tumblr_nq1zg0MEn51qg6rkio1_500.jpg" {{action 'pickCat'}} class="avatar-choice" id="pickCat">
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label for="new-post-field">Username:</label>
        </div>
        <div class="col-xs-6">
          {{input class="new-post-field" value=username id="username"}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label for="new-post-field">Avatar URL:</label>
        </div>
        <div class="col-xs-6">
          {{input class="new-post-field" value=image id="image"}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label for="new-post-field">Your Answer:</label>
        </div>
        <div class="col-xs-6">
          {{textarea class="new-post-body" value=comment id="comment"}}
        </div>
      </div>
    </div>

    <button class="post-button" {{action 'saveAnswer'}}>Submit Answer</button>
  </form>

</div>
