<h1>{{question.asked}}</h1>
<br>
<img class="ques-avatar" src={{question.avatar}}>
<h5>Asked By: {{question.author}}</h5>

<p>{{question.notes}}</p>

<div class="modify-buttons">

  {{update-question question=question updateQuestion="updateQuestion"}}

</div>

<div class="all-answers-box">
  <h2>Answers For This Question</h2>

  {{#if question.answers}}

  {{#each question.answers as |answer|}}
    <div class="single-answer">
      {{answer-tile answer=answer}}
    </div>
  {{/each}}

  {{else}}
    <h3>No answers yet. Submit one below!</h3>
  {{/if}}

</div>

{{new-answer}}
