<h1>{{question.asked}}</h1>
<br>
<img class="ques-avatar" src={{question.avatar}}>
<h5>Asked By: {{question.author}}</h5>

<p>{{question.notes}}</p>

<div class="modify-buttons">

  {{update-question question=question updateQuestion="updateQuestion"}}

</div>
